/* Louvette Banner Bold

font-family: louvette-banner, serif;

font-weight: 600;

font-style: normal; */
/* Niagara Regular

font-family: niagara, serif;

font-weight: 400;

font-style: normal;


Niagara Engraved Regular

font-family: niagara-engraved, sans-serif;

font-weight: 400;

font-style: normal; */

/* <link rel="stylesheet" href="https://use.typekit.net/zuo8kov.css"> */

/* font-family: futura-pt, sans-serif;

font-weight: 400;

font-style: normal;

font-family: futura-pt, sans-serif;

font-weight: 300;

font-style: normal; */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    background: transparent;
}

.about {
	font-family: Helvetica;
	font-size: 32px;
	line-height: 1.25;
	
	background-color: #ffffff;
	color: #000000;
}

.title {  
    font-family: niagara, serif;
    font-weight: 400;
    font-style: normal;
    color: #000000c7;
    font-size: 15em;
    line-height: 0;
    /* margin-bottom: .5em; */
}


.line {  
    font-family: emily-austin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000c7;
    font-size: 2em;
    color: #cf1f44;
    /* line-height: px; */
    /* margin-bottom: 1px; */
}

.t91{
    margin-bottom: 100px;
    margin-top: 0px;
}

.t98 {
    margin-top: 100px;
    margin-bottom: 40%;
}

.hleft {
    /* float: left;
    overflow: hidden;
    width: 500px;
    background-color: burlywood; */
    display: inline-block;
    /* background-color: burlywood; */
}
.hright {
    font-family: niagara, serif;
    font-weight: 400;
    font-style: normal;
    color: #cf1f44;
    font-size: 17em;
    margin-left: 40%;
    width: 600;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    /* text-align: right; */
    /* margin: 10,0,0,0; */
    /* float: right; */
    /* overflow: hidden; */
    /* width: 600px; */
    display: inline-block;
    
    /* background-color: rgb(211, 47, 47); */
   
}

header, section {
  /* padding: 30px; */
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* clear: both; */
}

header{
padding-left: 30px ;
margin-top: 1px;
/* margin: 0%; */
/* clear: both; */
}

section{
    padding: 30px;
    clear: both;
}

section.about {
  background-color:#000000c7;
}

#discription {
    color: white;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8em;
    text-align: right;
    
    line-height: auto;
    justify-content: left;

}

section.about p {
  max-width: 30em;
}

section.timeline1{
 -webkit-background-image: linear-gradient(to right #CE1141,#FF6C2F );
  background-color: #741820;
}

section.timeline2 {
  background-color: #cf1f44;
}

section.timeline3 {
  background-color: #897468;
}

section.timeline {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.photo img {
  max-width: 1000px;
}

body {
    line-height: 1;
  }