
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    background: transparent;
}

.about {
	font-family: Helvetica;
	font-size: 32px;
	line-height: 1.25;
	
	background-color: #ffffff;
	color: #000000;
}

.title {  
    font-family: niagara, serif;
    font-weight: 400;
    font-style: normal;
    color: #000000c7;
    font-size: 15em;
    line-height: 0;
    /* margin-bottom: .5em; */
}


.line {  
    font-family: emily-austin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000c7;
    font-size: 2em;
    color: #cf1f44;
    /* line-height: px; */
    /* margin-bottom: 1px; */
}

.t91{
    margin-bottom: 100px;
    margin-top: 0px;
}

.t98 {
    margin-top: 100px;
    margin-bottom: 40%;
}

.hleft {
    /* float: left;
    overflow: hidden;
    width: 500px;
    background-color: burlywood; */
    display: inline-block;
    /* background-color: burlywood; */
}
.hright {
    font-family: niagara, serif;
    font-weight: 400;
    font-style: normal;
    color: #cf1f44;
    font-size: 17em;
    margin-left: 45%;
    width: 600;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    /* text-align: right; */
    /* margin: 10,0,0,0; */
    /* float: right; */
    /* overflow: hidden; */
    /* width: 600px; */
    display: inline-block;
    
    /* background-color: rgb(211, 47, 47); */
   
}

header, section {
  /* padding: 30px; */
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* clear: both; */
}

header{
padding-left: 30px ;
margin-top: 1px;
/* margin: 0%; */
/* clear: both; */
}

section{
    padding: 30px;
    clear: both;
}

section.about {
  background-color:#000000c7;
}

#discription {
    color: white;
    margin-top: .5em;
    margin-bottom: .5em;
    max-width: 50% ;
    min-width: 300px;
    font-family: skolar-latin, serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .4px;
    font-size: .7em;
    /* text-align: :left; */
    /* padding: .8em; */
    line-height: 1.3em;
    justify-content: left;
    margin-left: 1.5em;

}

section.about p {
  max-width: 30em;
}

section.timeline1{
 -webkit-background-image: linear-gradient(to right #CE1141,#FF6C2F );
  background-color: #741820;
}

section.timeline2 {
  background-color: #cf1f44;
  display: inline-block;
}

section.timeline3 {
  background-color: #897468;
}


section.timeline4 {
  background-color:#b0f2ff;
}


section.timeline5 {
  background-color:#ae9eff;
}


section.timeline6 {
  background-color:#e2dd44;
}

section.timeline7 {
  background-color:#000000c7;
  opacity: 98%;
}

section.timeline {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.photo img {
  max-width: 1000px;
}

body {
    line-height: 1;
  }

mark{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color: #FF6C2F;
}

.rings {
    color: #ffffff;
    /* margin-top: .5em;
    margin-bottom: .5em; */
    max-width: 50% ;
    min-width: 300px;
    font-family: skolar-latin, serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .4px;
    font-size: 1.5em;
    text-align: :left;
    /* padding: .8em; */
    line-height: 1.3em;
    /* justify-content: left; */
    margin-left: 1.5em;
}

#switchhandslayup {
  min-width: 500px;
  margin-left: 5em;
  border-radius: 60px;
  border: 5px solid #cec8b0 ;
}

.years {
  font-family: niagara, serif;
  font-weight: 400;
  font-style: italic;
  color:white;
  font-size: 5em;
  line-height: 0;
  margin-right: 5px;

}

#mark1992{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color: #f5ed00;
}

#mark1993{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color: #75f6ff;
}

#mark1996{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color: #ff91ba;
}

#mark1997{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color:#ffed91;
}

#mark1998{
  text-transform: capitalize;
  font-style: italic;
  /* background-color: #cf1f44; */
  color:#8f5cff;
}

#theshrug {
  display: inline-block;
  width: 500px;
  height: 350px;
  filter: brightness(1.45);
  float: left;
  margin-bottom: 2em;
  margin-right: 2em;
  border-radius: 80px;
  border: 5px solid #ff9c78 ;
  
}

#finals {
  font-family: niagara, serif;
  font-weight: 400;
  font-style: italic;
  color:white;
  font-size: 2em;
  line-height: 0;
  
  /* font-stretch: ultra-condensed; */
}

#barkley {
  display: inline-block;
  width: 600px;
  filter: brightness(1.25);
  /* float: left; */
  margin-bottom: 2em;
  margin-left: 2em;
  border-radius: 50px;
  border: 5px solid #c9fff6 ;
  
}

#fathersday {
  display: inline-block;
  width: 600px;
  height: 400px;
  filter: brightness(1.15);
  /* float: left; */
  margin-bottom: 2em;
  margin-right: 2em;
  border-radius: 50px;
  border: 5px solid #c9fff6 ;
  
}

#flugame {
  display: inline-block;
  width: 600px;
  
  /* filter: brightness(1.15); */
  /* float: left; */
  margin-bottom: 2em;
  margin-left: 3em;
  border-radius: 50px;
  border: 5px solid #c9fff6 ;
  
}


#theshot {
  display: inline-block;
  width: 700px;
  
  /* filter: brightness(1.15); */
  /* float: left; */
  margin-bottom: 2em;
  margin-right: 3em;
  border-radius: 50px;
  border: 5px solid #ac94e3 ;
  
}

#LastDance {
  
  color: #8f5cff;
  text-transform: capitalize;
  text-decoration: underline red;
  text-underline-offset: 4px;
}

#mjtrophy {
  display: inline-block;
  width: 600px;
  
  /* filter: brightness(1.15); */
  /* float: left; */
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  border: 3px solid #ffffff
   ;
   object-fit: contain;
  
}

#firstwin {
  display: inline-block;
  width: 600px;
  
  /* filter: brightness(1.15); */
  /* float: left; */
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  border: 3px solid #ffffff
   ;
   object-fit: contain;
  
}

#freethrowdunk {
  display: inline-block;
  width: 500px;
  height: 800;
  
  /* filter: brightness(1.15); */
  /* float: left; */
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  border: 3px solid #ffffff
   ;
   object-fit: cover;
  
}